{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "plugins": [
    "prettier-plugin-organize-imports"
  ],
  "proseWrap": "always",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all"
}
